body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 1em;
}
@media (min-width: 768px) {
    body {
	padding: 0;
	width: 75%;
    }
}
@media (min-width: 1024px) {
    body {
	width: 60%;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-weight: 200;
}
h1 {
    margin-top: 1.5em;
}
h2 {
    margin-top: 1em;
}

h1 { font-size: 52.8px; }
h2 { font-size: 43.2px; }
h3, article h1 { font-size: 36px; }
h4, article h2 { font-size: 28.8px; }
h5, article h3 { font-size: 21.6px; }
h6 { font-size: 16.8px; }

header {
    margin-top: 3em;
    margin-bottom: 1em;
    position: relative;
}

header h1 {
    font-size: 3em;
    font-weight: 200;
    display: inline;
}

header h1 a, header h1 a:visited {
    color: black;
}
header h1 a:hover {
    text-decoration: none;
    color: #337ab7;
}

nav {
    margin-top: 0.1em;
    padding: 0;
}
@media (min-width: 1100px) {
    nav {
	margin-top: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
    }
}

nav ul {
    display: inline;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
}
nav li:not(:first-child) {
    margin-left: 1.5em;
}

nav li a:hover {
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

code {
    background: #f8f8f8;
    padding: 0.25em;
    font-family: Menlo, Monaco, monospace;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 0;
}

strong {
    font-weight: 400;
}

a, a:visited {
    color: #337ab7;
    text-decoration: none;
}
a:hover {
    color: #23527c;
    text-decoration: underline;
}

ul {
    margin: 0;
}

footer {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 4em;
}