<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}{{ #if title }} - {{ title }}{{ #endif }}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{site.url}}/scripts/highlight/highlight.css">
    <script src="{{site.url}}/scripts/highlight/highlight.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    
    <link rel="stylesheet" href="{{site.url}}/style.css">
  </head>
  <body>
    <header>
      <h1><a href="{{site.url}}/index.html">nanosite</a></h1>
      <nav>
	<ul>
	  <li><a href="{{site.url}}/tutorial.html">Tutorial</a></li><li><a href="{{site.url}}/doc/index.html">Documentation</a></li><li><a href="{{site.url}}/packages.html">Packages</a></li><li><a href="{{site.url}}/download.html">Download</a></li>
	</ul>
      </nav>
    </header>
    {{{content}}}
    <footer>
      <div><small>Copyright {{ site.author }}. Powered by <a href="{{site.url}}/index.html">nanosite</a>.</small></div>
    </footer>
  </body>
  
</html>

{{ #macro docMenu }}

<ul>
  <li><a href="{{site.url}}/doc/templates.html">template language</a></li>
  <li><a href="{{site.url}}/doc/site-generation.html">site generation</a></li>
  <li><a href="{{site.url}}/doc/packages.html">packages</a></li>
</ul>

{{ #endmacro }}
