<!DOCTYPE html>
<html>
  <head>
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.url}}/style.css">
  </head>
  <body>
    <header>
      <h1>nanosite</h1>
      
    </header>
    {{{content}}}
  </body>
</html>

