<div class="post">
<div class="post-meta">
<div class="post-date">{{format_date date}}</div>
<div class="post-title">{{title}}</div>
</div>
<article>{{{content}}}</article>
</div>
<div><a href="{{site.url}}/index.html">Return to home.</a></div>