body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 1em;
}
@media (min-width: 768px) {
    body {
	padding: 0;
	width: 66.667%;
    }
}
@media (min-width: 1024px) {
    body {
	width: 50%;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-weight: 200;
}

h1 {
    font-size: 2.25em;
}

header {
    margin-top: 2em;
    margin-bottom: 2em;
}

header h1 {
    font-size: 3em;
    font-weight: 200;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

ul {
    margin: 0;
}

footer {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 4em;
}